.input {
  border: none;
  background-color: var(--clr-card-bg);
  padding: 10px 20px;
  outline: none;
  transition: 0.2s all ease;
  border: 1px solid transparent;
  color: white;
  font: var(--ff-sans);
  border-radius: 5px;
  font-size: 1.3rem;
  width: 100%;
}
.input:focus {
  border: 1px solid var(--clr-pink);
  border-radius: 6px;
}
