.button {
  background: var(--clr-card-bg);
  color: var(--clr-gb-1);
  cursor: pointer;
  border: none;
  padding: 6px;
  font: var(--ff-sans);
  border-radius: 6px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.button:hover {
  opacity: 95%;
  background: var(--clr-pink);
}
.active {
  background: #c058f3;
}
