.todo {
  height: 50px;
  background: var(--clr-card-bg);
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 10px;
  display: flex;
  color: var(--clr-gb-1);
  justify-content: space-between;
  align-items: center;
}
.flex {
  display: flex;
  gap: 5px;
}

.input {
  background: transparent;
  outline: none;
  border: none;
  color: white;
}

.activeinput {
  border: none;
  background-color: var(--clr-box-shadow);
  padding: 10px 20px;
  outline: none;
  transition: 0.2s all ease;
  border: 1px solid transparent;
  color: var(--clr-gb-1);
  font: var(--ff-sans);
  border-radius: 5px;
  font-size: 1.3rem;
  width: 100%;
}
.activeinput:focus {
  border: 1px solid var(--clr-pink);
  border-radius: 6px;
}
.important {
  font-style: italic;
  font-weight: bold;
}
.done {
  font-weight: bold;
  text-decoration: line-through;
}
